body{
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    overflow: hidden;
}

.container{
    font-size: 10px;
    width: 40em;
    height: 40em;
    position: relative;
}